<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vuejs - Jour 1 / projet</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <h1>{{ title }}</h1>

      <fieldset>
        <legend v-if="indexOfMovieToModify  !== null">Modifier le film {{ moviesList[indexOfMovieToModify].title }}</legend>
        <legend v-else>Ajouter un film à la liste</legend>

        <div class="form-group">
          <label for="title">Titre du film</label>
          <input
            type="text"
            id="title"
            name="title"
            v-model="formMovieValues.title"
            :class="errorMessage.length && !formMovieValues.title.length && 'error-field'"
          />
        </div>

        <div class="form-group">
          <label for="year">Année de sortie</label>
          <select
            name="year"
            id="year"
            v-model="formMovieValues.year"
            :class="errorMessage.length && !formMovieValues.year.toString().length && 'error-field'"
          >
            <option v-for="year in years" :value="year">{{ year }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="director">Réalisateur</label>
          <input
            type="text"
            id="director"
            name="director"
            v-model="formMovieValues.director"
            :class="errorMessage.length && !formMovieValues.director.length && 'error-field'"
          />
        </div>

        <div class="form-group">
          <label for="category">Catégorie</label>
          <select
            name="category"
            id="category"
            v-model="formMovieValues.category"
            :class="errorMessage.length && !formMovieValues.category.length && 'error-field'"
          >
            <option v-for="category in categories" :value="category">{{ category }}</option>
          </select>
        </div>

        <p class="error-message">{{ errorMessage }}</p>

        <input
          v-if="indexOfMovieToModify  !== null"
          class="btn btn-blue"
          @click="addOrUpdateMovie(indexOfMovieToModify)"
          type="submit"
          value="Modifier un film"
        />
        <input v-else class="btn btn-green" @click="addOrUpdateMovie()" type="submit" value="Ajouter un film" />
      </fieldset>

      <div class="mobile-overflow">
        <table>
          <thead>
            <tr>
              <th class="col-1">#</th>
              <th class="col-2">Titre du film</th>
              <th class="col-3">Année de sortie</th>
              <th class="col-4">Réalisateur</th>
              <th class="col-5">Categorie</th>
              <th colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(film, index) in moviesList" :key="index">
              <td class="col-1">{{ index }}</td>
              <td class="col-2">{{ film.title }}</td>
              <td class="col-3">{{ film.year }}</td>
              <td class="col-4">{{ film.director }}</td>
              <td class="col-5">{{ film.category }}</td>
              <td class="col-6">
                <button v-if="indexOfMovieToModify === index" class="btn btn-disabled">Modifier</button>
                <button v-else class="btn btn-blue" @click="editThisMovie(index)">Modifier</button>
              </td>
              <td class="col-7">
                <button class="btn btn-red" @click="deleteMovie(index)">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>

  <!-- Vuejs CDN -->
  <script src="https://unpkg.com/vue@3"></script>

  <!-- Vue.JS code  -->
  <script>
    const app = Vue.createApp({
      // VueJS props
      data() {
        return {
          title: "Vuejs - Jour 1 / projet",
          categories: [
            "Science-fiction 🚀",
            "Fantastique 🧙‍♂️",
            "Comédie 😂",
            "Drame 😭",
            "Horreur 😱",
            "Action 🎬",
            "Aventure 🏞️",
            "Thriller 🔪",
            "Policier 👮‍♂️",
            "Animation 🐱‍👤",
            "Documentaire 📽️",
            "Western 🤠",
            "Guerre ⚔️",
            "Historique 📜",
            "Musical 🎵",
            "Romance 💕",
            "Biopic 🎞️",
            "Espionnage 🕵️‍♀️",
            "Sport ⚽",
            "Péplum 🏛️",
            "Erotique 🍆",
            "Expérimental 🧪",
            "Autre 🤷‍♂️",
          ],
          years: [],
          formMovieValues: {
            title: "",
            year: new Date().getFullYear(),
            director: "",
            category: "Science-fiction 🚀",
          },
          errorMessage: "",
          moviesList: [
            {
              title: "Star Wars - Un nouvel espoir",
              year: 1977,
              director: "George Lucas",
              category: "Science-fiction 🚀",
            },
            {
              title: "Le Seigneur des anneaux - La Communauté de l'anneau",
              year: 2001,
              director: "Peter Jackson",
              category: "Fantastique 🧙‍♂️",
            },
          ],
          indexOfMovieToModify: null,
        };
      },

      // VueJS  Lifecycle - mounted (DOM is ready)
      mounted() {
        for (let i = new Date().getFullYear(); i >= 1895; i--) {
          this.years.push(i);
        }
      },

      // VueJS methods
      methods: {
        addOrUpdateMovie(index = null) {
          // Check if form values are not empty
          if (this.formMovieValues.title && this.formMovieValues.year && this.formMovieValues.director && this.formMovieValues.category) {
            // case of update
            if (index === 0 || index) {
              this.moviesList[index] = this.formMovieValues;

              this.resetForm();

              return;
            }

            // case of add
            this.moviesList = [...this.moviesList, this.formMovieValues];

            this.resetForm();

            return;
          }

          this.displayErrorMessage();
        },

        // Choosen movie to edit
        editThisMovie(index) {
          this.indexOfMovieToModify = index;
          this.formMovieValues = this.moviesList[index];
        },

        deleteMovie(index) {
          this.moviesList = this.moviesList.filter((movie, movieIndex) => movieIndex !== index);
        },

        displayErrorMessage() {
          this.errorMessage = "Veuillez remplir tous les champs du formulaire";
        },

        resetForm() {
          this.errorMessage = "";
          if (this.indexOfMovieToModify) {
            this.indexOfMovieToModify = null;
          }
          this.formMovieValues = {
            title: "",
            year: new Date().getFullYear(),
            director: "",
            category: "Science-fiction 🚀",
          };
        },
      },
    });

    app.mount("#app");
  </script>
</html>
